<div class="banner">
  <div class="container-fluid banner-container">
    <div class="text-wrapper d-flex align-items-center justify-content-center text-white h-100">
    <div class="col">
      <div class="row text-center">
        <h2 class="">Save any kind of movies</h2>
      </div>
      <div class="row text-center">
        <h3>Classics</h3>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="col">
    <div class="row">
      <div class="d-flex justify-content-between">
        <h3>My List</h3>
        <a class="btn btn-success p-2" href="/lists/new">Create a movie list</a>
      </div>
    </div>
    <div class="row mt-2">
      <% @lists.each do |list| %>
        <div class="col-md-4 mb-4">
          <a href="/lists/<%= list.id %>">
            <div class="card text-white" >
              <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill, class: "card-img"%>

              <div class="card-img-overlay d-flex justify-content-center align-items-center background-overlay">
                <h2 class="card-title"><%= list.name %></h2>
              </div>
            </div>
          </a>
        </div>
      <% end %>

    </div>
  </div>
</div>
